<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educare</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="shortcut icon" href="Images/favicon.ico">
</head>
<body>
    <header>
        <a class="logo">Educare</a>
        <ul>
            <li><a href="" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="/todo">Work</a></li> -->
            <!-- <li><a href="/team">Team</a></li> -->
        </ul>
    </header>
    <section>
        <img src='Images/stars.jpg' id="stars" alt="">
        <img src='Images/MOON.png' id="moon" alt="">
        <img src='Images/F_M.png' id="mountain_front" alt="">
        <h2 id="text">Team: B4 - 6</h2>
        <a href="#sec" id="btn">Explore</a>
        <img src='Images/rocket.png' id="rocket" alt="">
    </section>
    <div class="sec">
        <h2 id="sec">EDUCARE</h2>
        <div class="route">
            <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"><a href="/todo"><img
                        src='Images/Saly-10.png' alt="" id="productive"
                        class="motion"></a></div>
            <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"><a href="/spotify"><img
                        src='Images/Saly-13.png' alt="" id="lazy"
                        class="motion"></a></div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; color: white;">
            <h1 style="padding-right: 100px; margin-right: 20px;">Feeling Productive</h1>
            <h1 style="padding-right: 50px;">Feeling Lazy</h1>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='js/aos.js'></script>
    <script src='js/script.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>
</html>
