<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href='css/style.css'>
    <link rel="shortcut icon" href='Images/favicon.ico'>
    <title>TODO</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand"><img src='Images/Saly-26.png' alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary mx-1" aria-current="page" href="/"><i
                                class="fa fa-angle-left"></i> Back</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary mx-1" aria-current="page" href="/todo">Refresh <i
                                class="fa fa-refresh"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary mx-1" aria-current="page" href="/pomodoro">Pomodoro
                            <i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="/logout" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container my-3">
        <h2>Add Tasks</h2>
        <form action="/addtodo" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Description</label>
                <input type="text" name="desc" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Add Todo</button>
        </form>
    </div>
    <div class="container my-3">
        <h2>Your Tasks</h2>
        <% if (!Object.keys(fulData).length) { %>
            <div class="alert alert-primary" role="alert">
                Woohoo, no work due soon!
            </div>
            <% } %>
                <table class="table">
                    <% if (Object.keys(fulData).length) { %>
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <% } %>
                            <tbody>
                                <% fulData.forEach((task)=>{ %>
                                    <tr>
                                        <td style="max-width: 100px; overflow: auto; height: fit-content;">
                                            <%= task.title %>
                                        </td>
                                        <td style="max-width: 250px; overflow: auto; height: fit-content;">
                                            <%= task.desc %>
                                        </td>
                                        <td>
                                            <a href="/update/<%=task._id %>" type="button"
                                                class="btn btn-outline-success btn-sm mx-1">Update</a>
                                            <a href="/delete/<%=task._id %>" type="button"
                                                class="btn btn-danger btn-sm mx-1">Delete</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>